{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "overrides": [
    {
      "files": ["*.test.js", "**/__mocks__/**/*.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
